<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Resume Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <img src="{{ url_for('static', filename='images/resume12.png') }}"
             alt="Resume Image"
             width="150">

        <h1>AI Resume Analyzer</h1>

        <p>
            Upload your resume and get smart job recommendations,
            resume score and skill analysis.
        </p>

        <div class="button-container">

            <!-- Only Login on Home Page -->
            <a href="/login">
                <button class="btn">Login</button>
            </a>

        </div>

        <footer>
            <p>
                © 2026 AI Resume Analyzer and Job Recommendations |
                Developed by Chanchal Ranawade and Jayashri Taskar
            </p>
        </footer>

    </div>

</body>
</html>