<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">

    <div class="login-card">

        <img src="{{ url_for('static', filename='images/resume0.png') }}" alt="AI Resume" class="logo">

        <h1>Welcome </h1>

        <p>Login to analyze your resume and get job recommendations.</p>

       <form action="/login_user" method="POST">

    <input type="email"
           name="email"
           placeholder="📧 Email Address"
           class="input-box"
           required>

    <input type="password"
           name="password"
           placeholder="🔒 Password"
           class="input-box"
           required>

    <button type="submit" class="login-btn">
        Login
    </button>

</form>

        <p class="register-link">
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

</body>
</html>